body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #40514E;
  text-align: center;
  font-family: 'Marcellus', serif;
}


h1{
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
  line-height: 2;
  
}


h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;

}


h3{
  font-family: 'Montserrat', sans-serif;
  color:  #11999E;

}


p{
  line-height: 2;
}


.top-container{
  background-color:  #BFFFF0;
  padding-top: 100px;
  max-width: 1300px;
  margin: auto;
}


.middle-container{
  margin: 100px 0;

}


.bottom-container{
  background-color: #666BFF;
  padding: 50px 0 20px;
 
}



.pro{
  text-decoration: underline;
}


.intro{
  width: 30%;
  margin: 0 auto ;
}


.top-cloud{
  position: absolute;
  right: 300px;
  top: 40px;
}


.bottom-cloud{
  position: absolute;
  left: 250px;
  bottom: 300px;
}


.skill-row{
  width: 50%;
  margin: 100px auto;
  text-align: left;
}



.profile-img{
  width: 25%;
}



.computer-img{
  width: 25%;
  float: left;
  border-radius: 200px;
  margin-right: 30px;

}


.chillies-img{
  width: 25%;
  border-radius: 200px;
  margin-left: 30px;
  float: right;
}


hr{
  border: dotted aqua 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}


.contact-msg{
  width: 40%;
  margin: 40px auto 60px;
}



.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #999e);
  background-image: -o-linear-gradient(top, #11cdd4, #999e);
  background-image: linear-gradient(to bottom, #11cdd4, #999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  text-shadow: 0px 0px 28px #51c2ab;
  -webkit-box-shadow: 3px 1px 0px #666666;
  -moz-box-shadow: 3px 1px 0px #666666;
  box-shadow: 3px 1px 0px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #00ed86;
  background-image: -webkit-linear-gradient(top, #00ed86, #4e21cc);
  background-image: -moz-linear-gradient(top, #00ed86, #4e21cc);
  background-image: -ms-linear-gradient(top, #00ed86, #4e21cc);
  background-image: -o-linear-gradient(top, #00ed86, #4e21cc);
  background-image: linear-gradient(to bottom, #00ed86, #4e21cc);
  text-decoration: none;
}


a{
  color: #66BFBF;
  text-decoration: none;
  margin: 10px 20px;

}


a:hover{
  color: black;

}


.copyright-icon{
  color: #66bfbf;
  font-size: 0.75rem;
  padding: 20px 0;
}